html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:
        radial-gradient(circle, rgba(130, 193, 200, 0.038) 0 570px, transparent 160px),
        radial-gradient(circle, rgba(130, 200, 137, 0.119) 0 370px, transparent 160px),
        radial-gradient(circle, rgba(221, 191, 219, 0.107) 0 250px, transparent 200px),
        radial-gradient(circle, rgba(170, 251, 255, 0.095) 0 160px, transparent 120px),
        #2d0052 !important;
    position: relative;
    overflow: hidden;
    color: white;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.496) 3px, transparent 2px);
  background-size: 120px 120px;
  opacity: 0.3;
  pointer-events: none;

  animation: dotsMove 5s linear infinite;
}

@keyframes dotsMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 120px 0;
  }
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}