html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:
        radial-gradient(circle at 15% 20%, rgba(130, 200, 137, 0.238) 0 160px, transparent 160px),
        radial-gradient(circle at 85% 75%, rgba(221, 191, 219, 0.4) 0 200px, transparent 200px),
        radial-gradient(circle at 70% 30%, rgba(255, 230, 170, 0.4) 0 120px, transparent 120px),
        #FFB997 !important;
    position: relative;
    overflow: hidden;
    color: white;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.697) 3px, transparent 2px);
  background-size: 120px 120px;
  opacity: 0.3;
  pointer-events: none;
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}